cairocffi==1.0.2
CairoSVG==2.4.0
camelot-py==0.7.3
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
colorama==0.4.1
cssselect2==0.2.1
defusedxml==0.6.0
Django==2.2.2
django-qr-code==1.0.0
django-weasyprint==0.5.4
et-xmlfile==1.0.1
html5lib==1.0.1
idna==2.8
jdcal==1.4.1
