<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="col-6">
            <img src="{{ order.image_2.url }}" alt="World!">

        </div>
        <p style="page-break-before: always" ></p>
        <div class="col-6">
            <img src="{{ order.qrcode.url }}" alt="Event QR code" />
            <p>{{order.customer_adress}}</p>
            <h3>{{order.customer_adress}}</h3>
            {{order.customer_name}}

        </div>
    </body>
</html>
