<!DOCTYPE html>
{% load static %}
        <div class="page" style="margin-top:30%;">
            <div class="text-center pb-0 mb-0">
                <p class="mb-5"><a name="bookmark0"></a><span class="font3" style="font-weight:bold;">ПЛАН И ЭКСПЛИКАЦИЯ ПОМЕЩЕНИЯ</span></p>
                <sub class="" style="font-size:1rem;">на</sub>
                <span class="font3 border-bottom border-dark mx-5 px-5 pb-0 mb-0" style="padding:250px;">Помещение</span>
                <p class="pb-4 pt-0 mt-0 font-weight-light cl"><span>(вид объекта учета)</span></p>
                <span class="font3 border-bottom border-dark mx-5 px-5 pb-0 mb-0" style="">квартира</span>
                <p class="mt-0 pt-0 cl"><span class="font0 font-weight-light" >(наименование объекта учета)</span></p>
                <p class="mt-5 pt-3"><span class="font3 pb-0 mb-0 mt-5" style="">Адрес (местоположение) объекта:</span></p>
            </div>

            <table class="table-bordered w-100 mb-4" border="1">
                <tr class="">
                    <th class="l"></th>
                    <th class="l"></th>
                    <th></th>
                </tr>
                <tr>
                    <td>
                        <span class="font2">Субъект РФ</span>
                    </td>
                    <td colspan="2">
                        <span class="font2">{{order.adress.subject_rf}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="font2">Район</span>
                     </td>
                    <td colspan="2">
                        <span class="font2">{{order.adress.rayon}}</span>
                    </td>
                </tr>
                    <tr>
                        <td rowspan="2">
                            <span class="font2">Муниципальное образование</span>
                        </td>
                        <td>
                            <span class="font2">тип</span>
                         </td>
                        <td>
                            <span class="font2"></span>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="font2">наименование</span>
                         </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            <span class="font2">Населенный пункт</span>
                        </td>
                        <td>
                            <span class="font2">тип</span>
                         </td>
                         <td>
                             <span class="font2">{{order.adress.city_type}}</span>
                         </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="font2">наименование</span>
                        </td>
                        <td>
                            <span class="font2">{{order.adress.city_name}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            <span class="font2">Улица (проспект, переулок и т. д.)</span>
                        </td>
                        <td>
                            <span class="font2">тип</span>
                        </td>
                        <td>
                            <span class="font2">{{order.adress.street_type}}</span>
                         </td>
                     </tr>
                    <tr>
                        <td>
                            <span class="font2">наименование</span>
                        </td>
                        <td>
                            <span class="font2">{{order.adress.street}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="font2">Номер дома</span>
                        </td>
                        <td colspan="2">
                                <span class="font1">{{order.adress.house_number}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="font2">Номер корпуса</span>
                            </td>
                            <td colspan="2">
                                <span class="font1">{{order.adress.corpus_number}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="font2">Номер строения</span>
                            </td>
                            <td colspan="2">
                                {{order.adress.build_number}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="font2">Литера</span>
                            </td>
                            <td colspan="2">
                                {{order.adress.litera}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="font2">Номер помещения (квартиры)</span>
                            </td>
                            <td colspan="2">
                                <span class="font1">{{order.adress.apart_number}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="font2">Иное описание местоположения</span>
                            </td>
                            <td colspan="2">
                                {{order.adress.another_places}}
                            </td>
                        </tr>
                </table>
            <div class="row justify-content-between px-3" style="margin-top:22%;">
                <p class="mt-3"><span class="font2">Начальник отделения</span></p>
                <!-- <div> -->
                <table class="d-block">
                    <tr>
                        <td class="font0 px-5" style=" ">
                            <span>&nbsp</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="font0 border-top border-dark px-5 mt-5" style=" ">(подпись)</td>
                    </tr>
                </table>
                <table class="d-block">
                    <tr>
                        <td class="font0 px-5 mt-5" style=" ">{{order.customer_name}}</td>

                    </tr>
                    <tr>
                        <!-- <td class="font0 px-5 mt-5" style=" "></td> -->
                        <td class="font0 border-top border-dark px-5 mt-5" style=" ">Фамилия И.О.</td>
                    </tr>
                </table>
                <p class="w-100" style="font-weight:bold; font-size:1.2rem; margin-left:230px;"><span class="font2 font-weight-bold ">М.П.</span></p>
            </div>
            </div>
            <p style="page-break-before: always"></p>
            <div class="page2 text-center">
                <div class="top-block border border-dark p-3">
                    <div class="text-uppercase ">ПЛАН ПОМЕЩЕНИЯ</div>

                    <div class="float-left">расположенного по адресу:</div>
                    <div class="">
                        <div class="">
                            {{order.adress}}
                            <!-- город Москва, Полярная улица, дом 5, корпус 1 -->
                        </div>
                        <div class="">квартира № {{order.adress.apart_number}}</div>
                    </div>
                </div>
                <div class="text-uppercase floor">этаж {{ order.adress.floor_number }}</div>
                <div class="schema_img">
                    <img class="image-fluid" src="{{ order.image.url }}" alt="Event QR code" />

                </div>
                <img class="image-fluid legenda_img" src="{% static 'img/legenda.png' %}" alt="Event QR code" />
                <table class="table-bordered table-page2 text-center">
                  <tr style="border: 1px solid black;">
                    <th class="px-2" colspan="4" >Поэтажный план составлен по состоянию на<br> {{ order.customer_data|date:"d.m.Y" }}</th>
                  </tr>
                  <tr>
                    <td colspan="3"></td>
                    <td>1:100</td>
                  </tr>
                  <tr>
                    <td>Исполнил</td>
                    <td>Клименко М.В.</td>
                    <td><span class=""></span></td>
                    <td>{{ order.customer_data|date:"d.m.Y" }}</td>
                  </tr>
                  <tr>
                    <td>Проверил</td>
                    <td>Панин В.Э.</td>
                    <td><span class="px-5"></span></td>
                    <td>{{ order.customer_data|date:"d.m.Y" }}</td>
                  </tr>
                  <tr>
                    <td>Принял</td>
                    <td>Панин В.Э.</td>
                    <td><span class="px-5"></span></td>
                    <td>{{ order.customer_data|date:"d.m.Y" }}</td>
                  </tr>
                </table>
            </div>
            <p style="page-break-after: always"></p>
            <img src="{{ order.image_2.url }}" alt="World!">
            <div class="col-6">
            <img src="{{ order.qrcode.url }}" alt="Event QR code" />
            <p>{{order.customer_adress}}</p>
            <h3>{{order.customer_adress}}</h3>
            {{order.customer_name}}

    <!-- </body> -->
<!-- </html> -->
