{% load static %}
{% load format_filters %}
{% load l10n %}

<!DOCTYPE html>
<head>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <style type="text/css" media="screen, print">
    @font-face {
            font-family: "Ascon";
            src: url({% static '/fonts/ascon.ttf' %}) format('truetype');
    }
    body {
        font-size: 1.2rem !important;
    }
    .page2{
        font-family: "Ascon";
        font-style: oblique;
        letter-spacing: 0.4px;
    }
    </style>
</head>
<body>
            <div class="page2 text-center">
                <div class="top-block ">
                    <div class="border border-dark p-3">
                        <table class="text-left w-100">
                            <tr>
                                <td></td>
                                <td>
                                    <div class="plan-size-font my-2">ПЛАН ПОМЕЩЕНИЯ</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="">расположенного по адресу:</div>
                                </td>
                                <td>
                                    {{order.adress}}
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-lowercase">
                                        Квартира №
                                        {% with order.explicationlistitem_set.all|first as appart %}
                                        {{ appart.apart_number }}
                                        {% endwith %}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="text-uppercase p-3 mt-4" style="font-size:;">
                        этаж
                        {% with order.explicationlistitem_set.all|first as floor %}
                        {{ floor.floor_number }}
                        {% endwith %}
                    </div>
                </div>
                <div class="schema_img" >
                    {% for item in order.orderimage_set.all%}
                    <img class="image-fluid" src="{{ item.order_image.url }}" alt="schema_img" style="width:{{ order.width_image_schema }}%"/>
                    {% endfor %}
                </div>
                <table class="legenda_tbl">
                  <tr>
                    <td class="tg-0pky text-center pb-2" colspan="2">Условные обозначения:</td>
                  </tr>
                  <tr>
                    <td class="tg-0lax">
                        <img class="image-fluid legenda_img" src="{% static 'img/legenda-1.png' %}" alt="Event QR code" />
                    </td>
                    <td class="tg-0lax">стена с окном и дверью</td>
                  </tr>
                  <tr>
                      <td>
                          <img class="image-fluid legenda_img" src="{% static 'img/legenda-2.png' %}" alt="Event QR code" />
                      </td>
                    <td class="tg-0lax">линейный размер</td>
                  </tr>
                  <tr>
                      <td>
                          <img class="image-fluid legenda_img" src="{% static 'img/legenda-4.png' %}" alt="Event QR code" />
                      </td>
                    <td class="tg-0lax">номер комнаты/площадь</td>
                  </tr>
                  <tr>
                      <td>
                          <img class="image-fluid legenda_img" src="{% static 'img/legenda-3.png' %}" alt="Event QR code" />
                      </td>
                    <td class="tg-0lax">номер помещения</td>
                  </tr>
                </table>
                <table class="table-bordered table-page2 text-center">
                  <tr style="border: 1px solid black;">
                    <td class="px-5 py-2" colspan="4">Поэтажный план составлен по состоянию на<br> {{ order.customer_data|date:"d.m.Y" }}</td>
                  </tr>
                  <tr>
                    <td colspan="3"></td>
                    <td>1:100</td>
                  </tr>
                  <tr>
                    <td>Исполнил</td>
                    <td>Клименко М.В.</td>
                    <td><span class=""></span></td>
                    <td>{{ order.customer_data|date:"d.m.Y" }}</td>
                  </tr>
                  <tr>
                    <td>Проверил</td>
                    <td>Панин В.Э.</td>
                    <td><span class="px-1"></span></td>
                    <td>{{ order.customer_data|date:"d.m.Y" }}</td>
                  </tr>
                  <tr>
                    <td>Принял</td>
                    <td>Панин В.Э.</td>
                    <td><span class="px-4"></span></td>
                    <td>{{ order.customer_data|date:"d.m.Y" }}</td>
                  </tr>
                </table>
            </div>
<p style="page-break-after: always"></p>
            <div class="page3 text-center" style="">
                <div class="border border-dark p-4 d-flex flex-row justify-content-between mb-5">
                    <div class="ml-5 d-flex flex-column justify-content-center page3-top">
                        <div>ГБУ Московское городское бюро технической инвентаризации</div>
                        <div>Адрес:  125009, г. Москва, Малый Гнездниковский пер.,  9, стр.7</div>
                        <div>Телефон:  (495) 629-02-80, (495) 629-44-33</div>
                    </div>
                    <div class="">
                        <img class="qr-code" src="{{ order.qrcode.url }}" alt="">
                    </div>
                </div>
                <div class="explication-block">
                    <h5 class="text-uppercase mb-3" style="font-weight:bold;">
                      ЭКСПЛИКАЦИЯ К ПОЭТАЖНОМУ ПЛАНУ ПОМЕЩЕНИЯ
                    </h5>
                    <div class="text-left ml-2">
                        <p class="mb-2">
                            Адрес (иное описание местоположения):
                        </p>
                        <p class="font-weight-bold mb-2">
                            {{ order.adress }}
                        </p>
                        <p class="">Квартира №
                            {% with order.explicationlistitem_set.all|first as appart %}
                            {{ appart.apart_number }}
                            {% endwith %}
                        </p>
                    </div>
                </div>
                <div class="explications-table w-100 mb-5">
                    <table class="table-bordered w-100" style="font-size: 1.2rem;">
                      <tr>
                        <td rowspan="3">Этаж</td>
                        <td rowspan="3">№№ комнат</td>
                        <td rowspan="3">Характеристики комнат<br> и помещений</td>
                        <td colspan="3">Площадь общая, кв.м.</td>
                        <td colspan="3">Площадь помещений <br> вспомогательного<br> использования ( с коэф.),<br> кв.м</td>
                        <td rowspan="3">Высота,<br> см</td>
                      </tr>
                      <tr>
                        <td rowspan="2">Всего</td>
                        <td colspan="2">в том числе</td>
                        <td colspan="3">в т.ч.</td>
                        <!-- <td></td> -->
                      </tr>
                      <tr>
                        <td>основная<br> (жилая)</td>
                        <td>вспом.</td>
                        <td>основная</td>
                        <td>балконов</td>
                        <td>прочих</td>
                        <!-- <td></td> -->
                      </tr>
                      {% for items in order.explicationlistitem_set.all|dictsort:"appart_number_item"%}
                      <tr>
                          <td>{{ items.floor_number }}</td>
                          <td>{{ items.appart_number_item }}</td>
                          <td class="text-nowrap">{{ items.appart_name_item }}</td>
                          <td>{{ items.square_total_item|default_if_none:"" }}</td>
                          <td>{{ items.square_general_item|default_if_none:"" }}</td>
                          <td>{{ items.square_advanced_item|default_if_none:"" }}</td>
                          <td>{{ items.square_logdi_item|default_if_none:"" }}</td>
                          <td>{{ items.square_balkon_item|default_if_none:"" }}</td>
                          <td>{{ items.square_another_item|default_if_none:"" }}</td>
                          <td>{{ items.height_item|default_if_none:"" }}</td>
                      </tr>
                      {% endfor %}
                      <tr>
                          <td colspan="3">Итого по квартире</td>
                          <td>{{order.explicationsquaretotal.square_total_summa|unlocalize}}</td>
                          <td>{{order.explicationsquaretotal.square_general_summa|unlocalize}}</td>
                          <td>{{order.explicationsquaretotal.square_advanced_summa|unlocalize}}</td>
                          <td>{{order.explicationsquaretotal.square_logdi_summa|unlocalize}}</td>
                          <td>{{order.explicationsquaretotal.square_balkon_summa|unlocalize}}</td>
                          <td>{{order.explicationsquaretotal.square_another_summa|unlocalize}}</td>
                          <td></td>
                      </tr>
                      <tr>
                          <td colspan="3">Общая площадь ( с летними )</td>
                          <td>{{order.explicationsquaretotal.square_total_summa_global|unlocalize}}</td>
                          <td colspan="6"></td>
                          <!-- <td>{{order.explicationsquaretotal.square_advanced_summa|unlocalize}}</td>
                          <td>{{order.explicationsquaretotal.square_logdi_summa|unlocalize}}</td>
                          <td>{{order.explicationsquaretotal.square_balkon_summa|unlocalize}}</td>
                          <td>{{order.explicationsquaretotal.square_another_summa|unlocalize}}</td> -->
                          <!-- <td></td> -->
                      </tr>
                    </table>
                    <!-- <img class="image-fluid w-100 p-0 m-0" src="{{ order.image_2.url }}" alt=""> -->
                    <h5 class="font-weight-bold text-left ml-3">
                        Общая площадь определена в соответствии со Ст. 15 Жилищного кодекса РФ
                    </h5>
                </div>
                <div class="py-3 page3-footer mb-5">
                    <div class="mb-2">
                        <span class="ml-0">
                            Экспликация на 1 стр.
                        </span>
                        <span class="px-5 mx-5">

                        </span>
                        <span>
                            {{ order.customer_data|date:"d.m.Y" }}
                        </span>
                    </div>
                    <div class="">
                        <span>
                            Исполнитель
                        </span>
                        <span class="">
                            ________________________
                        </span>
                        <span>
                            {{ order.engineer_name }}
                        </span>
                    </div>
                </div>
                <div class="text-left forbar-code p-0">
                    <img class="bar-code m-0 p-0" src="{{ order.barcode.url }}" alt="">
                </div>
                <div class="order_number">
                    {{order.order_number|intspace}}
                </div>
            </div>
</body>
