{% load static %}
{% load format_filters %}
{% load l10n %}

<!DOCTYPE html>
<head>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <style type="text/css" media="screen, print">
    @font-face {
            font-family: "Ascon";
            src: url({% static '/fonts/ascon.ttf' %}) format('truetype');
            /* font-family: "Times New Roman";
            src: url({% static '/fonts/Times_New_Roman.ttf' %}) format('truetype'); */
    }
    @font-face {
            font-family: "Times New Roman";
            src: url({% static '/fonts/Times_New_Roman.ttf' %}) format('truetype');
    }
    body {
        font-size: 1.4rem !important;
    }
    .page2{
        font-family: "Ascon";
        font-style: oblique;
        letter-spacing: 0.4px;
    }
    .page, .page3{
        font-family: "Times New Roman";
        /* font-style: ; */
        letter-spacing: auto;
    }
    h4{font-weight: 800;}
    </style>
</head>
<body>
        <div class="page" style="margin-top:40%;">
            <div class="text-center">
                <h3 class="mb-5" style="font-weight:bold;">ПЛАН И ЭКСПЛИКАЦИЯ ПОМЕЩЕНИЯ</h3>
                <table class="mx-auto" style="font-weight:500;">
                  <tr style="line-height: 98%;">
                    <td class="pr-5">на</td>
                    <td class="border-bottom border-dark uniqtabletd">
                        <span class="">{{order.type_object}}
                        </span>
                    </td>
                    <td class="pl-5">&nbsp&nbsp</td>
                  </tr>
                  <tr  class="uniqtabletd1">
                    <td class=""></td>
                    <td colspan="">(вид объекта учета)</td>
                    <td class="pl-5">&nbsp&nbsp</td>
                  </tr>
                  <tr>
                      <td class=""></td>
                      <td class="" colspan="">&nbsp</td>
                      <td class="pl-5">&nbsp&nbsp</td>
                  </tr>
                  <tr style="line-height: 98%;">
                    <td class=""></td>
                    <td class="border-bottom border-dark uniqtabletd">
                        <span class="">{{order.name_object}}
                        </span>
                    </td>
                    <td class="pl-5">&nbsp&nbsp</td>
                  </tr>
                  <tr  class="uniqtabletd1">
                    <td class=""></td>
                    <td colspan="">(наименование объекта учета)</td>
                    <td class="pl-5">&nbsp&nbsp</td>
                  </tr>
                </table>
                <!-- <sub class="mt-5" style="font-size: 1.5rem;">на</sub>
                <span class="font3 border-bottom border-dark mx-5 pb-0 mb-0 px-5">

                </span>
                <p class="pt-0 mt-0" style="font-size: 0.9rem; line-height:0.9rem;">
                    <span>(вид объекта учета)</span>
                </p>
                <span class="font3 border-bottom border-dark mx-5 pb-0 mb-0 px-5">

                </span>
                <p class="mt-0 pt-0" style="font-size: 0.9rem; line-height:0.9rem;">
                    <span class="  "  style="font-size:;" >
                        (наименование объекта учета)
                    </span>
                </p> -->
                <h4 class="mt-5 mb-0 pt-3 pb-0" style="font-weight:light; letter-spacing: 1.5px;">
                    Адрес (местоположение) объекта:
                    <!-- <span class="font3 pb-0 mt-5" style="font-size:;">
                </span> -->
                </h4>
            <table class="table-address w-100 mb-4 mt-0 text-left">
                <tr class="">
                    <th class=""></th>
                    <th class=""></th>
                    <th></th>
                </tr>
                <tr>
                    <td>
                        <span class=" ">Субъект РФ</span>
                    </td>
                    <td colspan="2">
                        <span class=" ">{{order.adress.subject_rf}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class=" ">Район</span>
                     </td>
                    <td colspan="2">
                        <span class=" ">{{order.adress.rayon}}</span>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <span class=" ">Муниципальное образование</span>
                    </td>
                    <td class="max-width-class-this">
                        <span class=" ">тип</span>
                     </td>
                    <td>
                        <span class=" "></span>

                    </td>
                </tr>
                <tr>
                    <td class="max-width-class-this">
                        <span class=" ">наименование</span>
                     </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <span class=" ">Населенный пункт</span>
                    </td>
                    <td class="max-width-class-this">
                        <span class=" ">тип</span>
                     </td>
                     <td>
                         <span class=" ">{{order.adress.city_type}}</span>
                     </td>
                </tr>
                <tr>
                    <td class="max-width-class-this">
                        <span class=" ">наименование</span>
                    </td>
                    <td>
                        <span class=" ">{{order.adress.city_name}}</span>
                        <!-- <span class=" ">{{order.adress.city_name}}</span> -->
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <span class=" ">Улица (проспект, переулок и т. д.)</span>
                    </td>
                    <td class="max-width-class-this">
                        <span class=" ">тип</span>
                    </td>
                    <td>
                        <span class=" ">{{order.adress.street_type}}</span>
                     </td>
                 </tr>
                <tr>
                    <td class="max-width-class-this">
                        <span class=" ">наименование</span>
                    </td>
                    <td>
                        <span class=" ">{{order.adress.street|absolute_address}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class=" ">Номер дома</span>
                    </td>
                    <td colspan="2">
                            <span class="font1">{{order.adress.house_number}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class=" ">Номер корпуса</span>
                        </td>
                        <td colspan="2">
                            <span class="font1">{{order.adress.corpus_number}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class=" ">Номер строения</span>
                        </td>
                        <td colspan="2">
                            {{order.adress.build_number}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class=" ">Литера</span>
                        </td>
                        <td colspan="2">
                            {{order.adress.litera}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class=" ">Номер помещения (квартиры)</span>
                        </td>
                        <td colspan="2">
                            <span class="font1">
                            {% with order.explicationlistitem_set.all|first as appart %}
                            {{ appart.apart_number }}
                            {% endwith %}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class=" ">Иное описание местоположения</span>
                        </td>
                        <td colspan="2">
                            {{order.adress.another_places}}
                        </td>
                    </tr>
                </table>
            <div class="row justify-content-between px-3" style="margin-top:25%; font-weight: 500;">
                <p class="mt-3"><span class=" ">Начальник отделения</span></p>
                <table class="d-block">
                    <tr>
                        <td class="  px-5" style=" ">
                            <span>&nbsp</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="border-top border-dark px-5 mt-5" style="font-size: 1.1rem; font-weight: 500;">
                            <span class="px-5">
                                (подпись)
                            </span>
                        </td>
                    </tr>
                </table>
                <table class="d-block mr-5 pl-1">
                    <tr>
                        <td class="px-5 mt-5" style=" ">{{order.customer_name}}</td>
                    </tr>
                    <tr>
                        <td class="border-top border-dark px-5 mt-5" style="font-size: 1.1rem;">Фамилия И.О.</td>
                    </tr>
                </table>
                <div class="d-block w-50 font-weight-bold ml-5" >
                    <span style="font-size:1.3rem; font-weight: 800">
                        М.П.
                    </span>
                </div>
            </div>
            </div>
            </div>
<p style="page-break-before: always"></p>
            <div class="page2 text-center">
                <div class="top-block ">
                    <div class="myborder p-3">
                        <table class="text-left w-100">
                            <tr>
                                <td></td>
                                <td>
                                    <h3 class="plan-size-font my-2">ПЛАН ПОМЕЩЕНИЯ</h3>
                                    <!-- <div class="plan-size-font my-2">ПЛАН ПОМЕЩЕНИЯ</div> -->
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="">расположенного по адресу:</div>
                                </td>
                                <td>
                                    {{order.adress}}
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-lowercase">
                                        Квартира №
                                        {% with order.explicationlistitem_set.all|first as appart %}
                                        {{ appart.apart_number }}
                                        {% endwith %}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="text-uppercase p-3 mt-4" style="font-size:;">
                        этаж
                        {% with order.explicationlistitem_set.all|first as floor %}
                        {{ floor.floor_number }}
                        {% endwith %}
                    </div>
                </div>
                <div class="schema_img" >
                    {% for item in order.orderimage_set.all%}
                    <img class="image-fluid" src="{{ item.order_image.url }}" alt="schema_img" style="width:{{ order.width_image_schema }}%"/>
                    {% endfor %}
                </div>
                <table class="legenda_tbl">
                  <tr>
                    <td class="tg-0pky text-center pb-2" colspan="2">Условные обозначения:</td>
                  </tr>
                  <tr>
                    <td class="tg-0lax">
                        <img class="image-fluid legenda_img" src="{% static 'img/legenda-1.png' %}" alt="Event QR code" />
                    </td>
                    <td class="tg-0lax">стена с окном и дверью</td>
                  </tr>
                  <tr>
                      <td>
                          <img class="image-fluid legenda_img" src="{% static 'img/legenda-2.png' %}" alt="Event QR code" />
                      </td>
                    <td class="tg-0lax">линейный размер</td>
                  </tr>
                  <tr>
                      <td>
                          <img class="image-fluid legenda_img" src="{% static 'img/legenda-4.png' %}" alt="Event QR code" />
                      </td>
                    <td class="tg-0lax">номер комнаты/площадь</td>
                  </tr>
                  <tr>
                      <td>
                          <img class="image-fluid legenda_img" src="{% static 'img/legenda-3.png' %}" alt="Event QR code" />
                      </td>
                    <td class="tg-0lax">номер помещения</td>
                  </tr>
                </table>
                <table class="table-bordered table-page2 text-center">
                  <tr style="border: 1px solid black;">
                    <td class="px-5 py-2" colspan="4">Поэтажный план составлен по состоянию на<br> {{ order.customer_data|date:"d.m.Y" }}</td>
                  </tr>
                  <tr>
                    <td colspan="3"></td>
                    <td>1:100</td>
                  </tr>
                  <tr>
                    <td class="text-left pl-2">Исполнил</td>
                    <td>Клименко М.В.</td>
                    <td><span class=""></span></td>
                    <td>{{ order.customer_data|date:"d.m.Y" }}</td>
                  </tr>
                  <tr>
                    <td class="text-left pl-2">Проверил</td>
                    <td>Панин В.Э.</td>
                    <td><span class="px-1"></span></td>
                    <td>{{ order.customer_data|date:"d.m.Y" }}</td>
                  </tr>
                  <tr>
                    <td class="text-left pl-2">Принял</td>
                    <td>Панин В.Э.</td>
                    <td><span class="px-3"></span></td>
                    <td>{{ order.customer_data|date:"d.m.Y" }}</td>
                  </tr>
                </table>
            </div>
<p style="page-break-after: always"></p>
            <div class="page3 text-center" style="">
                <div class="border border-dark p-4 d-flex flex-row justify-content-between mb-5">
                    <div class="ml-5 d-flex flex-column justify-content-center page3-top">
                        <div>ГБУ Московское городское бюро технической инвентаризации</div>
                        <div>Адрес:  125009, г. Москва, Малый Гнездниковский пер.,  9, стр.7</div>
                        <div>Телефон:  (495) 629-02-80, (495) 629-44-33</div>
                    </div>
                    <div class="">
                        <img class="qr-code" src="{{ order.qrcode.url }}" alt="">
                    </div>
                </div>
                <div class="explication-block">
                    <h3 class="text-uppercase mb-3" style="font-weight:bold;">
                      ЭКСПЛИКАЦИЯ К ПОЭТАЖНОМУ ПЛАНУ ПОМЕЩЕНИЯ
                    </h3>
                    <div class="text-left ml-2">
                        <p class="mb-2">
                            Адрес (иное описание местоположения):
                        </p>
                        <p class="font-weight-bold mb-2">
                            {{ order.adress }}
                        </p>
                        <p class="">Квартира №
                            {% with order.explicationlistitem_set.all|first as appart %}
                            {{ appart.apart_number }}
                            {% endwith %}
                        </p>
                    </div>
                </div>
                <div class="explications-table w-100 mb-5">
                    <table class="table-bordered w-100" style="font-size: 1.2rem;">
                      <tr>
                        <td rowspan="3">Этаж</td>
                        <td rowspan="3">№№ комнат</td>
                        <td rowspan="3">Характеристики комнат<br> и помещений</td>
                        <td colspan="3">Площадь общая, кв.м.</td>
                        <td colspan="3">Площадь помещений <br> вспомогательного<br> использования ( с коэф.),<br> кв.м</td>
                        <td rowspan="3">Высота,<br> см</td>
                      </tr>
                      <tr>
                        <td rowspan="2">Всего</td>
                        <td colspan="2">в том числе</td>
                        <td colspan="3">в т.ч.</td>
                        <!-- <td></td> -->
                      </tr>
                      <tr>
                        <td>основная<br> (жилая)</td>
                        <td>вспом.</td>
                        <td>основная</td>
                        <td>балконов</td>
                        <td>прочих</td>
                        <!-- <td></td> -->
                      </tr>
                      {% for items in order.explicationlistitem_set.all|dictsort:"appart_number_item"%}
                      <tr>
                          <td>{{ items.floor_number }}</td>
                          <td>{{ items.appart_number_item }}</td>
                          <td class="text-nowrap">{{ items.appart_name_item }}</td>
                          <td>{{ items.square_total_item|default_if_none:"" }}</td>
                          <td>{{ items.square_general_item|default_if_none:"" }}</td>
                          <td>{{ items.square_advanced_item|default_if_none:"" }}</td>
                          <td>{{ items.square_logdi_item|default_if_none:"" }}</td>
                          <td>{{ items.square_balkon_item|default_if_none:"" }}</td>
                          <td>{{ items.square_another_item|default_if_none:"" }}</td>
                          <td>{{ items.height_item|default_if_none:"" }}</td>
                      </tr>
                      {% endfor %}
                      <tr>
                          <td colspan="3">Итого по квартире</td>
                          <td>{{order.explicationsquaretotal.square_total_summa|unlocalize}}</td>
                          <td>{{order.explicationsquaretotal.square_general_summa|unlocalize}}</td>
                          <td>{{order.explicationsquaretotal.square_advanced_summa|unlocalize}}</td>
                          <td>{{order.explicationsquaretotal.square_logdi_summa|unlocalize}}</td>
                          <td>{{order.explicationsquaretotal.square_balkon_summa|unlocalize}}</td>
                          <td>{{order.explicationsquaretotal.square_another_summa|unlocalize}}</td>
                          <td></td>
                      </tr>
                      <tr>
                          <td colspan="3">Общая площадь ( с летними )</td>
                          <td>{{order.explicationsquaretotal.square_total_summa_global|unlocalize}}</td>
                          <td colspan="6"></td>
                          <!-- <td>{{order.explicationsquaretotal.square_advanced_summa|unlocalize}}</td>
                          <td>{{order.explicationsquaretotal.square_logdi_summa|unlocalize}}</td>
                          <td>{{order.explicationsquaretotal.square_balkon_summa|unlocalize}}</td>
                          <td>{{order.explicationsquaretotal.square_another_summa|unlocalize}}</td> -->
                          <!-- <td></td> -->
                      </tr>
                    </table>
                    <!-- <img class="image-fluid w-100 p-0 m-0" src="{{ order.image_2.url }}" alt=""> -->
                    <p class="font-weight-bold text-left ml-3">
                        Общая площадь определена в соответствии со Ст. 15 Жилищного кодекса РФ
                    </p>
                </div>
                <div class="py-3 page3-footer mb-5">
                    <div class="mb-2">
                        <span class="">
                            Экспликация на 1 стр.
                        </span>
                        <span class="px-5 mx-5">

                        </span>
                        <span>
                            {{ order.customer_data|date:"d.m.Y" }}
                        </span>
                    </div>
                    <div class="">
                        <span>
                            Исполнитель
                        </span>
                        <span class="px-3">
                            __________________
                        </span>
                        <span>
                            {{ order.engineer_name }}
                        </span>
                    </div>
                </div>
                <div class="text-left forbar-code p-0">
                    <img class="bar-code m-0 p-0" src="{{ order.barcode.url }}" alt="">
                </div>
                <div class="order_number">
                    {{order.order_number|intspace}}
                </div>
            </div>
</body>
