<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <table style="">
            <tr>
                <td>документ №</td>
                <td>doc-{{order_number}}</td>
            </tr>
            <tr>
                <td>Ссылка на полный документ:</td>
                <td>doc-{{link_doc}}</td>
            </tr>
            <tr>
                <td>Ссылка на сайт:</td>
                <td>{{link_site}}</td>
            </tr>
        </table>
    </body>
</html>
