/* @font-face {
        font-family: "Ascon";
        src: url('/static/static_dev/fonts/ascon.ttf') format('truetype');
} */
.page3 {
  counter-reset: my_page;
}
.table-counter::before {
  counter-increment: my_page;
  content:"";               /* Инкрементирует счетчик*/
                            /* Отображает текущее значение счетчика */
}
.explications-list-block{
    margin-top: -37px;
}
}
.table-counter{
    /* position: absolute; */
}
.output-counter::before{
    content:  counters(my_page, "");
}
.myborder{
    border: 1.5px solid black !important;
    }
.table-explicate-bordered td{
    border: 1.5px solid black !important;
    /* border: 0; */
    padding-left: 2px;
    padding-right: 2px;
}
.table-bordered th{
    border: 0px  black !important;
}
.table-address td{
    padding: 0 10px;
    line-height: 98%;
    white-space: nowrap;
    border: 1.5px solid !important;
}
.table-address {
    table-layout: auto;
}
@page :nth(1){
    font-family: "Ascon";
    margin: 9mm 9mm 9mm 9mm;
    border: 3px solid;
}
.page{
    display: none;
}
.page2{
    font-stretch: ultra-condensed;
    letter-spacing: -0.05em;
    line-height: 98%;
}
.plan-size-font {
    font-weight: 600;
    font-style: italic;
}
.table-page2{
    position: absolute;
    bottom: 40px;
    right: 10px;

}
.table-page2 td{
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid black !important;
}
.top-block{
    position: absolute;
    top: 4%;
    left:50%;
    transform: translate(-50%);
    width: 87%;
}
.floor{
    display: block;
    position: absolute;
    top: 16%;
    left:50%;
    transform: translate(-50%);
    width: 80%;
}
.legenda_img{
    width: 150px;
}
.legenda_tbl{

    position: absolute;
    left: 4%;
    bottom: 2%;
    width: 420px;
    font-weight: 500;
    /* border: 1.5px solid; */

}
.legenda_tbl td:nth-child(2n){
    text-align: left;
}
.apart_number_legend{
    color: red;
    padding: 5px 0;
    font-size: 85%;
    font-weight: bold;
}
.schema_img {
    position: absolute;
    top: 25%;  /* position the top  edge of the element at the middle of the parent */
    width: 93%;
    height: 800px;
    right: 1rem;
}
.schema_img > img{
      max-height: 100%;
      max-width: 100%;
    }
.qr-code{
    width: 130px;
    height: 130px;
}

.page3-footer{
    position: absolute;
    width: 100%;
    bottom: -55px;
}
.page3-footer > table td{
    padding: 5px 8px;
    text-align: left;
}
.explication-block{
    margin-top: 10%;
}

.bar-code{
    width: 100%;

    margin-top: 50px;
}

.order_number{
    font-family: monospace;
    position: absolute;
    bottom: -10px;
    right: 1%;
    letter-spacing: 9px;
    font-size: 1.6rem;
    font-weight: 400;
}
/* uniqtabletd */
.uniqtabletd {
    /* background-color: green; */
    padding-left: 110px;
    padding-right: 110px;
    font-size: 1.6rem;
    font-weight: 500;
}
.uniqtabletd1 {
    /* background-color: green; */
    font-size: 1rem; line-height: 95%;
    font-weight: 500;

}
