
.table-bordered td{
    border: 1px solid black !important;
    padding-left: 5px;
    padding-right: 7px;
}
.table-bordered th{
    border: 0px  black !important;
}
.l{
    width: 25%;
}
.cl{
    font-size: 0.7rem;
}
@page :nth(2){
    margin: 7mm 7mm 7mm 20mm;
    border: 1px solid;
}
.page2{
    font-stretch: ultra-condensed;
    letter-spacing: -0.05em;
    line-height: 98%;
}
.plan-size-font {
    font-size: 120%;
    /* font-family: Ascon; */
    font-weight: lighter;
    font-style: italic;
    /* font-size: 120%; */
    padding-bottom: 3px;
}
.table-page2{
    position: absolute;
    bottom: 40px;
    right: 10px;
}
.table-page2 td{
    padding-left: 5px;
    padding-right: 5px;
}
.top-block{
    position: absolute;
    top: 4%;
    left:50%;
    transform: translate(-50%);
    width: 87%;
}
.floor{
    display: block;
    position: absolute;
    top: 16%;
    left:50%;
    transform: translate(-50%);
    width: 80%;
}
.legenda_img{
    position: absolute;
    left: 15px;
    top: 85%;
    width: 430px;
}
.schema_img {
    position: absolute;
    top: 21%;  /* position the top  edge of the element at the middle of the parent */
    width: 93%;
    height: 600px;
    right: 1rem;
}
.schema_img > img{
      max-height: 100%;
      max-width: 100%;
    }
.qr-code{
    width: 130px;
    height: 130px;
}
.page3-top{
    font-size: 1.2rem;
}
.page3, .page{
    font-family: serif ;
}
.page3-footer{
    margin-top: 20%;
}
.explication-block{
    margin-top: 10%;
}
.forbar-code{
    bottom: 30px;
    margin-left: -50px;
    width: 523px;
    height: 60px;
    overflow: hidden;
    position: absolute;
}
.order_number{
    font-family: monospace;
    position: absolute;
    bottom: 9px;
    left: 10%;
    letter-spacing: 10px;
}
